div.dataTables_wrapper
{
	margin-top: 15px;
}

div.dataTables_filter label
{
	font-weight: normal;
	float: right;
}

div.dataTables_filter input,
div.dataTables_length select
{
	height: 30px;
	padding: 4px 6px;
	font-size: 14px;
	max-width: 100%;
	border: 1px solid #dddddd;
	background: #ffffff;
	color: #444444;
	-webkit-transition: all linear 0.2s;
	transition: all linear 0.2s;
	border-radius: 4px;
}

div.dataTables_filter input:focus,
div.dataTables_length select:focus
{
	border-color: #99baca;
	outline: 0;
	background: #f5fbfe;
	color: #444444;
}